    .class {
        font-size: 500%;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }





    a:link {
        color: red;
    }

    a:visited {
        color: green;
    }

    /* mouse over link */
    a:hover {
        color: hotpink;
    }

    /* selected link */
    a:active {
        color: blue;
    }