



h1 {
  color: red;
  text-align: center;
  font-size: medium;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
} 

h2 {
  color: aqua;
  text-align: center;
  background-color: yellow;
  margin-left:30%;
    margin-right:30%;
}

h3 {
  color: white;
  text-align: center;
  background-color: black;
    margin-left:30%;
    margin-right:30%;
}